div.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

div.contact-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f9f7f7;
  border-radius: 20px;
  width: 1226px;
  height: 80vh;
}

div.button-wrapper {
  margin-top: 60px;
}

button.contact, button.contact:hover {
  width: 200px;
  margin-bottom: 100px;
  font-size: 40px;
  padding: 5px;
  background: #ffffff;
  border: 2px solid #5bc3eb;
  border-radius: 5px;
  color: black;
}

.contact-input {
  width: 400px;
  border-radius: 8px;
  margin-top: 40px;
  background: #ffffff;
  border: 2px solid #5bc3eb;
  border-radius: 8px;
}

h1.contact-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  color: #000000;
}

input[type="text"] {
  font-size: 24px;
}
