.mobileMainBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  margin: auto;
}


.swiper {
  width: 100%;
  max-height: 800px;
  border-radius: 2em;
}

.slider {
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 10px;
  padding: 10px;
  margin-top: 1em;
}


.swiper .swiper-slide-active {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(2)
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 500px;
  min-height: 600px;
}


.swiper .swiper-pagination-bullet {
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  opacity: 1;
  background: rgba(45, 181, 199, 0.31);
  color: white;
  margin-top: 3em;
}

.swiper .swiper-pagination-bullet-active {
  background: #7ee6f8;
  color: rgb(8, 8, 8);
}

.swiper .swiper-pagination-bullet:hover {
  background: #020202;
  color: #fff;
}

.demo-button {
  float: right;
  width: 60px;
  height: 60px;
  padding: 1em;
}

.demo-button .demo-icon {
  width: 60px;
  height: 60px;
  color: rgb(233, 120, 15);
}

.skill-info h1 {
  line-height: 20px;
  color: #f1f1f1;
}

.skill-info p {
  line-height: 20px;
  color: #f1f1f1;
  text-align: left;
}

.skill-image img {
  display: block;
  max-width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 1em;
}

@media screen and (min-width:720) {
  .mobileMainBox {
    display: none;
  }
}