div.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 20px;
}

div.contact-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f9f7f7;
  border-radius: 20px;
  width: 60vw;
  height: 80vh;
  padding: 40px;
  max-width: 1440px;
}

h1.contact-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  color: #000000;
  margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
  h1.contact-title {
    font-size: 48px;
    margin-top: 10px;
  }
  div.contact-bg {
    width: 90vw;
  }
  .contact-input {
    width: 60vw;
  }

  button.contact {
    width: 150px;
  }
}

.contact-label {
  margin-top: 10px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.input {
  margin-top: 20px;
  width: 100%;
}

.button {
  margin-top: 20px;
}

.css-oh0jw6-MuiButtonBase-root-MuiButton-root {
  width: 400px;
}
